<div class="columns is-centered">
  <div class="column is-9-desktop is-8-fullhd is-9-tablet">

    <audio id="live-stream-media">
      <source src="http://165.227.93.126:8000/briantest" type="audio/mp3" >
    </audio>

    <div class="columns is-vcentered">
      <div class="column is-narrow">
          <button id="myPlayPauseButton" class="button is-primary" onclick="togglePlay();">
            <span class="icon">
              <i id="myPlayPauseButton-icon" class="fas fa-play"></i>
            </span>
          </button>
          </div>
          <div class="column">
            <div class="tags has-addons">
              <span id="stream-status-color" class="tag is-danger"></span>
              <span id="stream-status-text" class="tag">Streaming paused</span>
            </div>
          </div>
    </div>

  </div>
</div>


<script>

  var shouldBePlaying = false;
  var streamingWorking = false;
  streamingUnavailable();


  var audioElem = document.getElementById("live-stream-media");
  var myRunningTime = 0;
  var myRunningTime2 = 0;
  console.log(myRunningTime);

  // check every 2 seconds to see if stream is still working
  var myTimer = setInterval(checkStream, 2000);

  function checkStream(){
    myTempTime = audioElem.currentTime;

    // if it shoudl be streaming, but times are all zero
    if(shouldBePlaying && myTempTime === 0 && myRunningTime === 0){
      streamingUnavailable();
    }

    if(!shouldBePlaying && !streamingWorking){
      // streamingAvailable();
      audioElem.load();
      //audioElem.play();

    }

    console.log("should be playing: "+shouldBePlaying);
    console.log("streaming working: "+streamingWorking);
    console.log(myRunningTime);

    myRunningTime = myTempTime;

  }


  audioElem.addEventListener("error", function(){console.log("error")}, false);
  audioElem.addEventListener("stalled", function(){console.log("stalled")}, false);
  audioElem.addEventListener("ended", function(){console.log("ended")}, false);

  // audioElem.addEventListener("progress", function(){console.log("progress")}, false);
  // audioElem.addEventListener("timeupdate", function(){console.log("timeupdate")}, false);


  function togglePlay(){
    var audioElem = document.getElementById("live-stream-media");
    var myButton = document.getElementById("myPlayPauseButton");
    var myIcon = document.getElementById("myPlayPauseButton-icon");
    var myStreamColor = document.getElementById("stream-status-color");
    var myStreamText = document.getElementById("stream-status-text");

    myButton.setAttribute("class", "button is-primary");

    // pause or play media
    if (audioElem.paused){
      myIcon.setAttribute("class", "fas fa-pause");
      myStreamColor.setAttribute("class", "tag is-success");
      myStreamText.innerHTML = "Streaming live";
      audioElem.load();
      audioElem.play();
      shouldBePlaying = true;
      myRunningTime = 1; // set temporarily to 1 to avoid losing a quick race condition
    } else{
      audioElem.pause();
      myIcon.setAttribute("class", "fas fa-play");
      myStreamColor.setAttribute("class", "tag is-warning");
      myStreamText.innerHTML = "Streaming paused";
      shouldBePlaying = false;
    }
  }

  function streamingAvailable(){
    var audioElem = document.getElementById("live-stream-media");
    var myButton = document.getElementById("myPlayPauseButton");
    var myIcon = document.getElementById("myPlayPauseButton-icon");
    var myStreamColor = document.getElementById("stream-status-color");
    var myStreamText = document.getElementById("stream-status-text");

    audioElem.removeEventListener("loadeddata", streamingAvailable, false);
    audioElem.addEventListener("ended", streamingUnavailable, false);

    streamingWorking = true;

    myButton.setAttribute("class", "button is-primary");
    myIcon.setAttribute("class", "fas fa-play");
    myStreamColor.setAttribute("class", "tag is-warning");
    myStreamText.innerHTML = "Streaming paused";
  }

  function streamingUnavailable(){
    var audioElem = document.getElementById("live-stream-media");
    var myButton = document.getElementById("myPlayPauseButton");
    var myIcon = document.getElementById("myPlayPauseButton-icon");
    var myStreamColor = document.getElementById("stream-status-color");
    var myStreamText = document.getElementById("stream-status-text");

    shouldBePlaying = false;

    streamingWorking = false;

    audioElem.addEventListener("loadeddata", streamingAvailable, false);
    audioElem.removeEventListener("ended", streamingUnavailable, false);

    myButton.setAttribute("class", "button is-static");
    myIcon.setAttribute("class", "fas fa-slash");
    myStreamColor.setAttribute("class", "tag is-danger");
    myStreamText.innerHTML = "Show stream unavailable";
  }


</script>
